<!DOCTYPE html>
<html>
<head>
  <style>
  .block {
    display: inline-block;
    width: 300px;
    height: 300px;
    vertical-align: top;
    border: 1px solid blue;    
    background-color: yellow; 
    position: relative;
  }

  .inBlock {
    position: absolute;
    width: 50px;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }

  </style>
</head>

  <body>
    <div class="block">
        <button class="inBlock">click</button>
    </div>
    <div class="block">
        <button class="inBlock">click</button>
    </div>


  </body>
</html>



