body {
    height: 500px;
}

.center {
    position: relative;
    width: 100px; /* div occupies 100px  */
    margin: 0 auto; /* up down 0, left right: (total - 100px)/2 */
    top: 50%; /* top: 50% of 500px = 250 px */
}
